* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #fefefe;
    --tom-escuro: #091f2c;
    --tom-claro: #fefefe;
    --cinza-claro: #dddada;
    --cinza: #b1b0b0;
    --cinza-medio: #707070;
    --azul-claro: #677693;
    --linear-gradient-1-color: rgba(255, 192, 203, 0.438), rgba(0, 0, 255, 0.308);
    --hover-color: #a2a8c9;

    --font-pequena: 16px;
    --font-media: 26px;
    --font-grande: 32px;
}

@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("ttf");
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: SegoeUI, sans-serif;
    overflow-x: hidden;
    background-color: var(--body-color);
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: var(--cinza-claro)
}

::-webkit-scrollbar-thumb {
    background-color: var(--azul-claro);
}



/* tags gerais da página */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

main {
    padding: 20px;
}

.titulo {
    margin-top: 7rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 900 bold;
    color: var(--azul-claro);
    font-size: 39px;
}

.titulo span {
    color: var(--tom-escuro);
}

@media (max-width: 768px) {
    .titulo {
        margin-top: 4rem;
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .titulo {
        margin-top: 3rem;
        font-size: 24px;
    }
}
/* tags gerais da página */




/* menu principal */
header {
    display: flex;
    /* height: 80px; */
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
        0em 16px 16px -16px rgb(0 0 0 / 8%);

    .logo {
        width: 300px;
        margin-left: 70px;
        margin-top: 10px;
        justify-content: center;

        .logo,
        h1 {
            font-size: 24px;
            color: var(--azul-claro);
        }

        .logo,
        p {
            margin-top: -5px;
            color: var(--cinza);
            font-size: 14px;
            justify-content: center;
        }

        .logo, span {
            color: var(--tom-escuro);
        }
    }



    nav {
        display: flex;
        align-items: center;
        margin: 15px 50px;

        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;

            li {
                text-decoration: none;
                list-style: none;
                color: var(--cinza-medio);

                a {
                    text-decoration: none;
                    list-style: none;
                    font-size: 15px;
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--tom-escuro);

                    &:hover {
                        border-bottom: solid 1px var(--azul-claro);
                        text-decoration: none;
                    }
                }
            }
        }

        .mobile-toggle {
            display: none;
            color: var(--base-100);
            padding: 10px;

            @media (max-width:768px) {
                display: inline-block;
                position: absolute;
                top: 30px;
                right: 20px;
            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;

        .logo {
            margin-top: 26px;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;


        nav {
            margin: 5px;
            margin-top: 10px;
            width: 100%;

            ul {
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;

                a {
                    width: 100%;
                }

                &.active {
                    display: flex;
                }
            }

        }
    }
}









/* Capa da página MAIN */
.content {
    display: flex;
    margin-top: 80px;
    overflow-x: hidden;
}

.container {
    overflow: hidden;
    border-radius: 13px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
        0em 16px 16px -16px rgb(0 0 0 / 8%);
    width: 100%;
    display: flex;
    margin: 20px;
    justify-content: end;
    align-items: end;
}

/* BUG DO KARALHO */
.article {
    margin: 50px;
}

.article p {
    color: var(--cinza-medio);
    font-size: var(--font-pequenan);
}

.article h2 {
    margin-top: 20px;
    font-size: var(--font-grande);
    color: var(--tom-escuro);
    margin-bottom: 20px;
}

.article small {
    color: var(--azul-claro);
}

.article {
    height: 65%;
    justify-content: center;
    position: relative;
}

.img-content {
    padding: 8px;
    border-radius: 13px;
    width: 40%;
}

.btn-article {
    display: flex;
    margin-top: 40px;
    gap: 10px;
}

.btn-article a {
    color: var(--tom-escuro);
    text-decoration: none;
    padding: 10px 45px;
    border-radius: 3px;
    border: solid 1px var(--azul-claro);
}

.btn-article a:hover {
    background-color: var(--azul-claro);
    border: solid 1px var(--hover-color);
    color: var(--body-color);
}

.btn-article>:nth-child(1) {
    background-color: var(--tom-escuro);
    color: var(--body-color);
}

@media (max-width: 1024px) {
    .container {
        box-shadow: none;
        flex-direction: column;
        overflow: auto;
        padding: 10px;
        margin-top: 90px;
        justify-content: center;

    }

    .article h2 {
        margin-top: 5px;
    }

    .img-content {
        display: none;
    }

    .btn-article {
        margin-top: 20px;
    }

    .article h2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

}

/* MEDIA queries da capa do site */
@media(max-width:768px) {
    .container {
        margin-top: 100px;
        overflow: auto;
        border-radius: 13px;
        box-shadow: none;
        display: flex;
        margin: auto;
        justify-content: center;
    }

    .article {
        margin-top: 50px;
    }

    .btn-article {
        display: flex;
        margin-top: 40px;
    }

    .btn-article a {
        padding: 10px 20px;
    }

}

/*Capa da página */







/* Sobre a clinica  */
.sobre-nos {
    display: flex;
    height: auto;
    margin: 50px;
}

.sobre-article {
    display: flex;
    height: 450px;
}

.sobre-img {
    width: 40%;
    margin-left: 150px;
}

.sobre-text {
    margin-left: 30px;
    margin-top: 20px;
    text-align: start;
}

.sobre-text small {
    color: var(--azul-claro);
}

.sobre-text p {
    color: var(--cinza-medio);
    width: 70%;
    margin-bottom: 20px;
}

.sobre-text h3 {
    width: 70%;
    color: var(--tom-escuro);
    font-size: var(--font-grande);
}

.sobre-text span {
    color: var(--azul-claro);
}

.linha {
    border-bottom: solid 1px var(--azul-claro);
    width: 13%;
    margin-bottom: 15px;
}

.sobre-icon {
    margin-top: 10px;
    display: flex;
    width: 70%;
}

.sobre-icon i {
    color: var(--tom-escuro);
    font-size: 25px;
}

.sobre-icon p {
    color: var(--cinza-medio);
    font-size: 13px;
    margin-left: 5px;
}

.btn-article-about {
    display: flex;
    margin-top: 40px;
    gap: 10px;
}

.btn-article-about a {
    color: var(--tom-escuro);
    text-decoration: none;
    padding: 10px 45px;
    border-radius: 3px;
    border: solid 1px var(--azul-claro);
}

.btn-article-about a:hover {
    background-color: var(--azul-claro);
    border: solid 1px var(--hover-color);
    color: var(--body-color);
}

/* Responsividade section sobre */
@media (max-width: 1280px) {
    .sobre-nos {
        align-items: center;
        margin: 30px;
    }

    .sobre-article {
        align-items: center;
    }

    .sobre-img {
        width: 40%;
        margin: 20px;
    }

    .sobre-text {
        margin: 20px 0 0;
        text-align: center;
    }

    .sobre-text p,
    .sobre-text h3 {
        width: 100%;
    }

    .linha {
        display: none;
    }

    .btn-article-about {
        justify-content: center;
        margin-top: 15px;
    }
}

@media(max-width: 768px) {
    .sobre-nos {
        padding: 10px;
        margin: 10px;
    }

    .sobre-article {
        flex-direction: column;
        height: auto;
    }

    .sobre-img {
        width: 90%;
        margin: 0 auto 15px;
    }

    .sobre-text h3 {
        font-size: var(--font-media);
    }

    .sobre-text p {
        font-size: var(--font-pequena);
    }

    .btn-article-about a {
        padding: 8px 20px;
    }
}









/* Serviçoes da página */
.servicos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.075)),
    image-set('./img/consulto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.grid-servicos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.grid-item {
    background-color: var(--body-color);
    border-radius: 13px;
    margin-top: 130px;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    transition: transform 0.3s ease;
    position: relative;

}

.grid-item:hover {
    transform: translateY(-10px);
}

.grid-item img {
    position: absolute;
    top: 10px;
    left: 34%;
    width: 80px;
    height: 85px;
    object-fit: contain;
    border-radius: 30%;
}

.text-grid {
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center;
}

.text-grid h3 {
    color: var(--tom-escuro);
    font-size: var(--font-media);
    margin-bottom: 10px;
}

.text-grid p {
    color: var(--cinza-medio);
    font-size: var(--font-pequena);
    line-height: 1.5;
    max-width: 200px;
    margin: 0 auto;
}

.trabalhos {
    background: #67769370;
    padding: 50px;
}

.container-trabalhos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.trabalho-item {
    width: 25%;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0em 16px 16px -16px rgb(0 0 0 / 8%);
    border: solid 0.9px var(--cinza-claro);
    background-color: var(--body-color);
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
}

.trabalho-item img {
    height: 200px;
    transition: all ease 1s;
    width: 100%;
    cursor: pointer;
}

.trabalho-item img:hover {
    transform: scale(1.03);
}

.trabalho-text {
    margin: 10px;
}

.trabalho-text p {
    color: var(--cinza-medio);
    font-size: var(--font-pequena);
}

.trabalho-text h4 {
    color: #5f8be4;
    font-size: var(--font-pequena);
}

.trabalho-btn {
    margin: 0px 10px;
    text-align: center;
    border-radius: 57px;
    padding: 8px 10px;
    background-color: var(--azul-claro);
}

.trabalho-btn a {
    text-decoration: none;
    color: var(--body-color);
    font-size: 14px;
}

.hidden {
    display: none;
}

.veja-mais {
    text-align: center;
}

#btn-veja-mais {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--azul-claro);
    color: var(--body-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#btn-veja-mais:hover {
    background-color: var(--hover-color);
}

/* Media Queries section servicos*/
@media (max-width: 1024px) {
    .servicos {
        background-image: none;
        height: auto;
    }
    .grid-item {
        margin-top: 10px;
        margin-bottom: 10px;
    
    }
    
    .trabalho-item {
        width: 45%;
    }

    .trabalho-item img {
        height: 180px;
    }
}
@media (max-width: 768px) {
    .trabalho-item {
        width: 90%;
        margin: 0 auto 10px auto;
    }

    .trabalho-item img {
        height: 250px;
    }

    #btn-veja-mais {
        font-size: 14px;
        padding: 8px 20px;
    }
}

@media (max-width: 480px) {
    .trabalho-text h4 {
        font-size: 14px;
    }

    .trabalho-text p {
        font-size: 12px;
    }

    .trabalho-btn {
        padding: 5px 8px;
    }

    #btn-veja-mais {
        font-size: 12px;
        padding: 6px 12px;
    }
}








/* Section de horarios da página */
.service-article {
    display: flex;
    border-radius: 13px;
    height: 420px;
    background: linear-gradient(45deg, #67769315, white);
}

.service-titulo {
    position: absolute;
    right: 0;
    margin-top: 30px;
    width: 190px;
    margin-right: 60%;
    font-size: 20px;
    color: var(--azul-claro);
}

.service-titulo span {
    color: var(--tom-escuro);
}

.service-img {
    margin-top: 40px;
    margin-left: 50px;
    width: 350px;
    height: 90%;
}

.service-img:hover {
    transform: translateY(-5px);
}

.content-servicos {
    margin-top: 100px;
    margin-right: 15px;
    width: 100%;
}

.content-servicos table {
    height: 320px;
    width: 100%;
    overflow: hidden;
    border-radius: 13px 13px 0px 0px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
        0em 16px 16px -16px rgb(0 0 0 / 8%);
    border-collapse: collapse;
}

.content-servicos th {
    text-align: left;
    font-size: var(--font-pequena);
    padding: 14px;
    background-color: var(--azul-claro);
    color: var(--body-color);
}

.content-servicos tr:nth-child(even) {
    background-color: var(--cinza-claro);
}

.content-servicos td {
    padding: 10px;
    color: var(--cinza-medio);
    border-bottom: 1px solid var(--cinza-claro);
}

.btn-agenda {
    margin-left: 17px;
    text-decoration: none;
    color: var(--tom-claro);
    background-color: var(--azul-claro);
    padding: 5px 15px;
    border-radius: 3px;
}

.btn-agenda:hover {
    background-color: var(--hover-color);
}

.content-servicos td:hover {
    color: var(--tom-escuro);
}


/* Media Queries section horarios */
@media (max-width: 1024px) {
    .service-article {
        align-items: center;
        height: auto;
        padding: 20px;
    }

    .service-titulo {
        position: static;
        text-align: center;
        margin-right: 0;
        width: auto;
        font-size: 18px;
    }

    .service-img {
        display: none;
    }

    .content-servicos {
        margin-top: 10px;
    }

    .content-servicos table {
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .service-titulo {
        font-size: 16px;
    }

    .service-img {
        width: 40%;
        margin: 10px 0;
    }

    .content-servicos th,
    .content-servicos td {
        font-size: 14px;
        padding: 8px;
    }

    .btn-agenda {
        padding: 4px 10px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .service-titulo {
        font-size: 14px;
    }

    .btn-agenda {
        font-size: 11px;
        padding: 3px 8px;
    }

    .content-servicos th,
    .content-servicos td {
        font-size: 12px;
        padding: 6px;
    }
}






/* Contato da página */
.contato {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.contato-container {
    background-color: var(--azul-claro);
    color: white;
    height: auto;
    display: flex;
}

.contato-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contato-title {
    font-size: var(--font-media);
    color: var(--cinza);
    font-weight: bold;
}

.contato-form {
    margin: 20px;
    padding: 10px 10px;
    border-radius: 13px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.contato-form input,
.contato-form textarea {
    padding: 10px;
    border: solid 2px var(--cinza-claro);
    border-radius: 13px;
    font-size: var(--font-pequena);
}

.button-group {
    display: flex;
    gap: 10px;
}

.contato-form button {
    padding: 15px 45px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: var(--font-pequena);
    font-weight: bold;
    color: var(--tom-claro);
}

.send-button {
    background-color: var(--tom-escuro);
}

.clear-button {
    background-color: var(--hover-color);
}

.local {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.local-info {
    border: solid 1px var(--cinza-claro);
    width: 100%;
    padding: 20px;
}

.local-info h2 {
    color: var(--tom-escuro);
    margin-bottom: 15px;
    font-size: var(--font-media);
}

.local-info p {
    margin: 10px 0;
    font-size: var(--font-pequena);
    color: var(--cinza-medio);
}

.local-info a {
    color: var(--azul-claro);
    text-decoration: none;
}

.local-info a:hover {
    text-decoration: underline;
}

.map {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.map-info {
    height:100%;
    width: 100%;
}

.map-info iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.map-overlay {
    position: absolute;
    left: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    color: var(--cinza-medio);
}

.map-overlay a {
    color: var(--azul-claro);
    text-decoration: none;
}

.map-overlay a:hover {
    text-decoration: underline;
}
/* media queres section contato */
@media (max-width: 1024px) {

    .contato-container {
        border-radius: 0px;
        flex-direction: column;
        align-items: center;
    }

    .contato-form {
        width: 80%;
    }

}

@media (max-width: 768px) {
    .contato-title {
        font-size: 18px;
    }

    .local {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .local-info h2 {
        font-size: var(--font-pequena);
    }

    .local-info p {
        font-size: var(--font-pequena);
    }
}

@media (max-width: 480px) {
    .img-contato img {
        width: 80%;
    }

    .contato-title {
        font-size: var(--font-pequena);
        text-align: center;
    }

    .button-group {
        flex-direction: column;
        gap: 5px;
    }

    .contato-form button {
        width: 100%;
        padding: 10px;
    }
}



/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0px 50px;
    flex-wrap: wrap;
}

.footer-column h3 {
    color: var(--azul-claro);
    font-size: var(--font-pequena);
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: var(--cinza-medio);
    text-decoration: none;
    font-size: var(--font-pequena);
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    margin-right: 0;
    font-size: var(--font-media);
    color: var(--cinza-medio);
    text-decoration: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: var(--tom-claro);
    font-weight: bold;
    cursor: pointer;
}


.logo-footer {
    margin-left: 70px;

    justify-content: center;
}

.logo-footer h1 {
    margin-top: 10px;
    font-size: 24px;
    color: var(--azul-claro);
}

.logo-footer p {

    color: var(--cinza);
    font-size: 14px;
    justify-content: center;
}

.logo-footer span {
    color: var(--tom-escuro);
}


/* Media Queries Footer */
@media (max-width: 1024px) {
    .footer {
        margin: 0px 20px;
        justify-content: center;
        gap: 20px;
    }

    .footer-column {
        flex: 1 1 45%;
        margin-bottom: 20px;
    }

    .buttons {
        align-items: center;
    }

    .social-icons {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        margin: 0px 10px;
        gap: 20px;
    }

    .footer-column {
        flex: 1 1 100%;
        text-align: center;
    }

    .buttons {
        width: 100%;
        align-items: center;
    }

    .btn {
        width: 90%;
        text-align: center;
    }

    .social-icons {
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 10px;
    }

    .footer-column h3 {
        font-size: var(--font-pequena);
    }

    .footer-column ul li a {
        font-size: var(--font-pequena);
    }

    .social-icons a {
        font-size: var(--font-media);
    }

    .btn {
        padding: 8px 15px;
        font-size: 14px;
    }
}